<!DOCTYPE <html>
<head>
	<title></title>
</head>
<body>
	<form acion = "/signup"  method= 'POST'>
		Book's name<input type="text" name="bookname"> <br>
		Author's name<input type= "text" name= "authorname"> <br>
		Books copies<input type= "number" name= "bookscopies"> <br>
		<input type="radio" name= "typeofbook" value= "Romantic"> Romantic <br>
		<input type="radio" name= "typeofbook" value= "Sci-Fiction"> Sci_Fiction <br>
		<input type="radio" name= "typeofbook" value= "Comedy"> Comedy <br>
		<input type="radio" name= "typeofbook" value= "Poems"> Poems <br>
		<input type="radio" name= "typeofbook" value= "ShortStories"> Short Stories <br>

		


			<input type="submit" value="submit"/>  


	</form>
</body>
</html>